<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.evy.framework.listener.ListenerManager"/>
    </listeners>
    <test name="automated-ui" parallel="methods" thread-count="2">
        <classes>
            <class name="com.evy.tests.RegisterTest"/>
            <class name="com.evy.tests.LoginTest"/>
            <class name="com.evy.tests.ProductDropdownTest"/>
            <class name="com.evy.tests.ProductSearchResultTest"/>
            <class name="com.evy.tests.ProductTest"/>
            <class name="com.evy.tests.CartTest"/>
            <class name="com.evy.tests.EndToEndTest"/>
        </classes>
    </test>
</suite>